<!-- Menu button -->
<div id="menuToggle"><%= fa_icon "bars" %></div>

<!-- Menu -->
<nav class="menu" id="theMenu">

    <div class="menu-wrap">
        <ul class="site-nav-list">
            <li class="list-home">
                <a class="" title="Go home" href="/" tabindex="-1">
                    <%= fa_icon "home" %>Home
                </a>
                <a class="site-nav-list-item-secondary" title="Search Medium" href="/search" tabindex="-1">
                    <%= fa_icon "search" %><span class="hidden-text">Search</span>
                </a>
            </li>
            <li class="">
                <a class="" title="Blogs" href="/blogs" tabindex="-1">
                    <%= fa_icon "list" %></span>Blogs
                </a>
            </li>
            <li class="">
                <a class="" title="Destination" href="/destination" tabindex="-1">
                    <%= fa_icon "plane" %>Destinations
                </a>
            </li>
            <li class="">
                <a class="" title="Destination" href="/Q&A" tabindex="-1">
                    <%= fa_icon "question" %>Questions
                </a>
            </li>
            <li class="">
                <a class="" title="Destination" href="/Q&A" tabindex="-1">
                    <%= fa_icon "compass" %>Travel Assistant
                </a>
            </li>
        </ul>
    </div>
</nav>
